{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "forecast/index.css" %}">
{% endblock %}
    
{% block page_title %}
Today's Forecast
{% endblock %}

{% block content %}
<div class="card">
        <h2>{{ location.name }}</h2>
        <h3>{{ current.condition.text }}<span>{{ current.wind_mph }} mph<span class="dot"></h3>
        <h1>{{ current.temp_f}}</h1>
        <div class='sky'>
            {% if condition == 'Sunny' %}
            {% include "forecast/weather_icons/sunny.html" %}
            {% elif condition == 'cloudy' %}
            {% include "forecast/weather_icons/cloudy.html" %}
            {% elif condition == 'rain' %}
            {% include "forecast/weather_icons/rainy.html" %}
            {% elif condition == 'thunder' %}
            {% include "forecast/weather_icons/thunder_storm.html" %}
            {% else %}
            {% include "forecast/weather_icons/thunder_storm.html" %}
            {% endif %}
        </div>
        <table>
            <tr>
                {% for day in string_days_of_week %}
                    <td>{{ day }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for day in three_day_forecast %}
                <td>{{ day.day.maxtemp_f }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for day in three_day_forecast %}
                <td>{{ day.day.mintemp_f }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}